<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Blank SQL Notebook

#### Import Libraries & Database

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [ ]:
%%sql

SELECT
    EXTRACT(YEAR FROM orderdate) AS year,
    SUM(netprice) AS total_year_net_revenue
FROM
    sales
GROUP BY
    year
ORDER BY
    year

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

   year  total_year_net_revenue
0  2015              2411195.64
1  2016              3379301.20
2  2017              4229458.39
3  2018              7950000.89
4  2019              9972332.59
5  2020              3593779.50
6  2021              6742864.28
7  2022             13907299.92
8  2023             10069875.60
9  2024              2561994.76

In [ ]:
%%sql
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

6 rows affected.

         table_name
0  currencyexchange
1          customer
2             sales
3              date
4           product
5             store

In [ ]:
%%sql
SELECT *
FROM currencyexchange
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

         date fromcurrency tocurrency  exchange
0  2015-01-01          AUD        AUD      1.00
1  2015-01-01          AUD        CAD      0.95
2  2015-01-01          AUD        EUR      0.67
3  2015-01-01          AUD        GBP      0.53
4  2015-01-01          AUD        USD      0.82
5  2015-01-01          CAD        AUD      1.05
6  2015-01-01          CAD        CAD      1.00
7  2015-01-01          CAD        EUR      0.71
8  2015-01-01          CAD        GBP      0.55
9  2015-01-01          CAD        USD      0.86

In [ ]:
%%sql
SELECT *
FROM customer
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,customerkey,geoareakey,startdt,enddt,continent,gender,title,givenname,middleinitial,surname,...,zipcode,country,countryfull,birthday,age,occupation,company,vehicle,latitude,longitude
0,15,4,1990-09-10,2034-07-29,Australia,male,Mr.,Julian,A,McGuigan,...,4357,AU,Australia,1965-03-24,55,Border Patrol agent,Cut Rite Lawn Care,2000 Peugeot Kart Up,-27.83,151.17
1,23,8,1995-08-11,2045-01-26,Australia,female,Ms.,Rose,H,Dash,...,6055,AU,Australia,1990-05-10,30,Agricultural and food scientist,Rack N Sack,2005 Volvo XC90,-31.92,116.05
2,36,2,1992-03-12,2044-05-14,Australia,female,Ms.,Annabelle,J,Townsend,...,2304,AU,Australia,1964-07-16,56,Special education teacher,id Boutiques,1999 Lancia Lybra,-32.88,151.71
3,120,6,1983-07-23,2033-08-09,Australia,male,Mr.,Jamie,H,Hetherington,...,7256,AU,Australia,1946-12-11,74,Dental laboratory technician,Showbiz Pizza Place,2006 Dodge Durango,-39.77,144.02
4,180,7,1987-11-26,2026-10-14,Australia,male,Mr.,Gabriel,P,Bosanquet,...,3505,AU,Australia,1955-04-24,65,Administrative support specialist,Dubrow's Cafeteria,1995 Morgan Plus 4,-34.13,142.14
5,185,2,1990-08-01,2029-05-28,Australia,female,Mrs.,Gabrielle,B,Castella,...,2469,AU,Australia,1980-02-23,40,Management dietitian,d.e.m.o.,1997 Alpina B6,-29.01,152.84
6,189,7,2008-07-05,2017-11-01,Australia,female,Ms.,Hayley,C,Jull,...,3377,AU,Australia,1960-04-18,60,Sculptor,Asian Plan,2006 Alpina B5,-37.34,142.91
7,210,2,1980-09-28,2030-05-08,Australia,female,Mrs.,Natalie,L,Hilder,...,2632,AU,Australia,1950-11-23,70,Motel desk clerk,Enrich Garden Services,1995 Ford Fairlane,-36.84,149.05
8,225,7,1985-06-25,2017-09-25,Australia,male,Mr.,Hunter,J,Hutchins,...,3763,AU,Australia,1978-07-20,42,Teletype operator,Mr. Good Buys,2012 Lexus GX,-37.51,145.44
9,243,2,1982-02-07,2027-02-09,Australia,female,Ms.,Maya,J,Atherton,...,2446,AU,Australia,1954-05-15,66,Pilates instructor,Franklin Music,1995 Chevrolet Caprice,-31.36,152.39

In [ ]:
%%sql
SELECT table_name
FROM information_schema.columns

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

2046 rows affected.

                 table_name
0              pg_attribute
1            pg_stat_gssapi
2            pg_stat_gssapi
3              pg_attribute
4            pg_stat_gssapi
...                     ...
2041                pg_type
2042       pg_statistic_ext
2043  pg_statio_user_tables
2044  pg_statio_user_tables
2045   pg_statio_sys_tables

[2046 rows x 1 columns]

In [ ]:
%%sql
SELECT *
FROM information_schema.columns
WHERE table_name = 'customer';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

24 rows affected.

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,contoso_100k,public,customer,customerkey,1,None,NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,contoso_100k,public,customer,geoareakey,2,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,contoso_100k,public,customer,startdt,3,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,contoso_100k,public,customer,enddt,4,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,contoso_100k,public,customer,birthday,18,None,YES,date,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
5,contoso_100k,public,customer,age,19,None,YES,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
6,contoso_100k,public,customer,latitude,23,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
7,contoso_100k,public,customer,longitude,24,None,YES,double precision,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
8,contoso_100k,public,customer,middleinitial,9,None,YES,character varying,5.00,20.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
9,contoso_100k,public,customer,surname,10,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
10,contoso_100k,public,customer,streetaddress,11,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
11,contoso_100k,public,customer,city,12,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
12,contoso_100k,public,customer,state,13,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
13,contoso_100k,public,customer,statefull,14,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
14,contoso_100k,public,customer,zipcode,15,None,YES,character varying,20.00,80.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
15,contoso_100k,public,customer,country,16,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
16,contoso_100k,public,customer,countryfull,17,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
17,contoso_100k,public,customer,company,21,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
18,contoso_100k,public,customer,vehicle,22,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
19,contoso_100k,public,customer,occupation,20,None,YES,character varying,100.00,400.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
20,contoso_100k,public,customer,continent,5,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
21,contoso_100k,public,customer,gender,6,None,YES,character varying,10.00,40.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
22,contoso_100k,public,customer,title,7,None,YES,character varying,20.00,80.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES
23,contoso_100k,public,customer,givenname,8,None,YES,character varying,50.00,200.00,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [ ]:
%%sql
SELECT *
FROM date
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

,date,datekey,year,yearquarter,yearquarternumber,quarter,yearmonth,yearmonthshort,yearmonthnumber,month,monthshort,monthnumber,dayofweek,dayofweekshort,dayofweeknumber,workingday,workingdaynumber
0,2015-01-01,20150101,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Thursday,Thu,5,0,0
1,2015-01-02,20150102,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Friday,Fri,6,1,1
2,2015-01-03,20150103,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Saturday,Sat,7,0,1
3,2015-01-04,20150104,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Sunday,Sun,1,0,1
4,2015-01-05,20150105,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Monday,Mon,2,1,2
5,2015-01-06,20150106,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Tuesday,Tue,3,1,3
6,2015-01-07,20150107,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Wednesday,Wed,4,1,4
7,2015-01-08,20150108,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Thursday,Thu,5,1,5
8,2015-01-09,20150109,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Friday,Fri,6,1,6
9,2015-01-10,20150110,2015,Q1-2015,8061,Q1,January 2015,Jan 2015,24181,January,Jan,1,Saturday,Sat,7,0,6

In [ ]:
%%sql
SELECT
  orderdate,
  ROUND(quantity * netprice * exchangerate, 2) AS net_revenue
FROM sales
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

RuntimeError: (The named parameters feature is "disabled". Enable it with: %config SqlMagic.named_parameters="enabled".
For more info, see the docs: https://jupysql.ploomber.io/en/latest/api/configuration.html#named-parameters)
(psycopg2.errors.UndefinedFunction) function round(double precision, integer) does not exist
LINE 3:   ROUND(quantity * netprice * exchangerate, 2) AS net_revenu...
          ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT
  orderdate,
  ROUND(quantity * netprice * exchangerate, 2) AS net_revenue
FROM sales
LIMIT 10;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql
SELECT
  orderdate,
  ROUND((quantity * netprice * exchangerate)::numeric, 2) AS net_revenue
FROM sales
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate net_revenue
0  2015-01-01       63.49
1  2015-01-01      423.28
2  2015-01-01      108.75
3  2015-01-01     1146.75
4  2015-01-01      950.25
5  2015-01-01     1302.91
6  2015-01-01       58.73
7  2015-01-01      224.98
8  2015-01-01      263.11
9  2015-01-01      578.52

In [ ]:
%%sql
SELECT
  orderdate,
  ROUND((quantity * netprice * exchangerate)::numeric, 2) AS net_revenue
FROM sales
WHERE
  orderdate::DATE >= '2020-01-01'
LIMIT 10;

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

10 rows affected.

    orderdate net_revenue
0  2020-01-01       99.47
1  2020-01-01      139.97
2  2020-01-01      669.39
3  2020-01-01     4090.60
4  2020-01-01      237.15
5  2020-01-01     1507.16
6  2020-01-01      189.35
7  2020-01-01      539.90
8  2020-01-01     5590.00
9  2020-01-01     3580.00

In [ ]:
%%sql
-- MySQL version (based on your # MSql comment)
SELECT
    s.orderdate,
    s.quantity * s.netprice * s.exchangerate AS net_revenue,
    c.givename,
    c.surname,
    c.countryfull,
    c.continent,
    p.productname,
    p.categoryname,
    p.subcategoryname,
    CASE
        WHEN s.quantity * s.netprice * s.exchangerate > 1000 THEN 'HIGH'
        ELSE 'LOW'
    END AS high_low
FROM sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
LEFT JOIN product p ON s.productkey = p.productkey
WHERE s.orderdate >= '2020-01-01'
LIMIT 100;  -- Added for safety

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

RuntimeError: (The named parameters feature is "disabled". Enable it with: %config SqlMagic.named_parameters="enabled".
For more info, see the docs: https://jupysql.ploomber.io/en/latest/api/configuration.html#named-parameters)
(psycopg2.errors.UndefinedColumn) column c.givename does not exist
LINE 4:     c.givename,
            ^
HINT:  Perhaps you meant to reference the column "c.givenname".

[SQL: SELECT
    s.orderdate,
    s.quantity * s.netprice * s.exchangerate AS net_revenue,
    c.givename,
    c.surname,
    c.countryfull,
    c.continent,
    p.productname,
    p.categoryname,
    p.subcategoryname,
    CASE
        WHEN s.quantity * s.netprice * s.exchangerate > 1000 THEN 'HIGH'
        ELSE 'LOW'
    END AS high_low
FROM sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
LEFT JOIN product p ON s.productkey = p.productkey
WHERE s.orderdate >= '2020-01-01'
LIMIT 100;]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
%%sql
SELECT
    s.orderdate,
    s.quantity * s.netprice * s.exchangerate AS net_revenue,
    c.givenname,  -- Fixed from givename to givenname
    c.surname,
    c.countryfull,
    c.continent,
    p.productname,
    p.categoryname,
    p.subcategoryname,
    CASE
        WHEN s.quantity * s.netprice * s.exchangerate > 1000 THEN 'HIGH'
        ELSE 'LOW'
    END AS high_low
FROM sales s
LEFT JOIN customer c ON s.customerkey = c.customerkey
LEFT JOIN product p ON s.productkey = p.productkey
WHERE s.orderdate >= '2020-01-01';

Running query in 'postgresql://postgres:***@localhost:5432/contoso_100k'

124451 rows affected.

,orderdate,net_revenue,givenname,surname,countryfull,continent,productname,categoryname,subcategoryname,high_low
0,2020-01-01,3075.80,David,Stone,United States,North America,"A. Datum SLR Camera 35"" M358 Silver",Cameras and camcorders,Digital SLR Cameras,HIGH
1,2020-01-01,444.34,David,Stone,United States,North America,MGS Gears of War M170,Games and Toys,Download Games,LOW
2,2020-01-01,1187.73,David,Stone,United States,North America,WWI Desktop PC1.60 E1600 White,Computers,Desktops,HIGH
3,2020-01-01,36.78,David,Stone,United States,North America,Contoso Multi-line phones M30 Grey,Cell phones,Home & Office Phones,LOW
4,2020-01-01,4.45,David,Stone,United States,North America,MGS Hand Games for 12-16 boys E600 Yellow,Games and Toys,Boxed Games,LOW
...,...,...,...,...,...,...,...,...,...,...
124446,2024-04-20,14.35,Guus,Doodeman,Netherlands,Europe,Contoso Ultraportable Neoprene Sleeve E30 Green,Computers,Computers Accessories,LOW
124447,2024-04-20,261.32,Guus,Doodeman,Netherlands,Europe,Contoso DVD 9-Inch Player Portable M300 Silver,"Music, Movies and Audio Books",Movie DVD,LOW
124448,2024-04-20,147.78,Michael,Wilson,Canada,North America,SV DVD Player M140 Gold,"Music, Movies and Audio Books",Movie DVD,LOW
124449,2024-04-20,2019.62,Michael,Wilson,Canada,North America,Proseware Laptop8.9 E089 White,Computers,Laptops,HIGH
124450,2024-04-20,56.83,Michael,Wilson,Canada,North America,SV Hand Games men M30 Black,Games and Toys,Boxed Games,LOW

Warning: total number of rows (124451) exceeds max_rows (20000). Limiting to first (20000) rows.

Basic aggregate